html,
body {
	max-width: 100%;
	width: 100%;
	overflow-x: hidden;
	font-size: 16px;
}

p {
	font-size: 16px;
}

img {
	max-width: 100%;
	//width: auto;
	height: auto;
}

.inset-shadow {
	box-shadow: inset 0 0 10px rgba(0,0,0,0.75);
	background-size: 100% 100%;

	img {
		display: block;
	}
}

.float-left {
	margin-right: 10px;
	float: left;
}

table {
	margin-top: 40px;
}

tr {

	td {
		vertical-align: top;
		padding-bottom: 25px;
		padding-right: 10px;

		&+td {
			padding-right: 0;
		}

		h2 {
			margin-top: 0;
		}

		&>h3:first-child {
			margin-top: 0;
		}
	}
}

.wedding-party {

	td:nth-child(2n) {
		padding: 10px;
		padding-top: 0;
	}
}

.dropdown-menu > li > a {
    font-size: 18px;
}

h1 {
    color: $gray-blue;
}

.main h2 {
    color: $salmon;
    font-weight: bold;
}




@media (max-width: $screen-lg) {

	.intro-image {
		margin-left: -100px;
		margin-right: -100px;
	}
}

@media (max-width: $screen-md) {

	.intro-image {
		margin-left: -200px;
		margin-right: -200px;
	}

	.wedding-party {

		img {
			max-width: 77px;
			width: 77px;
		}
	}	
}

@media (max-width: $screen-sm) {
	
	tr {
		
		td {
			padding-bottom: 0;
			padding-top: 5px;
			display: block;

			h2 {
				margin-top: 20px;
			}
		}
	}

	.intro-image {
		margin-left: -150px;
		margin-right: -150px;
	}
}