// Content wrapper
.wrap { }

// Main content area
.main {
  @include make-sm-column($main-sm-columns);
  .sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }
}

body {
	background-image: url('../img/cardboard.jpg');
	background-size: 384px 384px;
	background-position: left top;
	background-repeat: repeat;
}

.button {

	background-image: 		url('../img/link-bg-top-left.png'), 
					  		url('../img/link-bg-top-right.png'), 
					  		url('../img/link-bg-bottom-left.png'), 
					  		url('../img/link-bg-bottom-right.png');
	background-position: 	top left, 
						 	top right, 
						 	bottom left, 
						 	bottom right; 
	background-size: 		62.5px 62.5px, 
					 		57.5px 62.5px, 
					 		62.5px 60px, 
					 		57.5px 60px;
	background-repeat: 		no-repeat, 
					   		no-repeat, 
					   		no-repeat, 
					   		no-repeat;
}

div.button {
	padding-top: 20px;
}

.button.sm {
	display: block;
	min-width: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	min-height: 50px;
	padding-top: 12px;

	background-size: 		31px 31px, 
					 		29px 31px, 
					 		31px 30px, 
					 		29px 30px;

}

.gform_button.button {
	background: none;
}

.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
	margin-left: 1px;
}